#ui {
    position: relative;
    width: 448px;
    height: 405px;
    margin: 50px auto;
}

#ui .love_word {
    position: absolute;
    top: 0;
    left: 0;
    color: #ea80b0;
    font-size: 1.4rem;
    transform: translateY(-50%);
    text-shadow: 0 0 10px #fff;
    letter-spacing: 2px;
    white-space: nowrap;
}

#ui .love_horizontal {
    offset-path: path("M224.0,96.8 L224.1,95.7 L224.4,92.4 L225.5,87.0 L227.4,79.8 L230.6,71.2 L235.2,61.4 L241.3,51.1 L249.0,40.6 L258.5,30.5 L269.5,21.2 L282.0,13.2 L295.9,6.8 L310.8,2.4 L326.5,0.1 L342.6,0.3 L358.8,2.8 L374.7,7.7 L389.9,15.0 L404.0,24.3 L416.7,35.6 L427.5,48.6 L436.3,62.8 L442.7,78.2 L446.7,94.3 L448.0,110.8 L446.7,127.6 L442.7,144.4 L436.3,161.1 L427.5,177.4 L416.7,193.4 L404.0,209.0 L389.9,224.2 L374.7,239.0 L358.8,253.4 L342.6,267.5 L326.5,281.2 L310.8,294.7 L295.9,307.9 L282.0,320.7 L269.5,333.0 L258.5,344.9 L249.0,356.1 L241.3,366.5 L235.2,376.0 L230.6,384.4 L227.4,391.5 L225.5,397.3 L224.4,401.4 L224.1,404.0 L224.0,404.8 L223.9,404.0 L223.6,401.4 L222.5,397.3 L220.6,391.5 L217.4,384.4 L212.8,376.0 L206.7,366.5 L199.0,356.1 L189.5,344.9 L178.5,333.0 L166.0,320.7 L152.1,307.9 L137.2,294.7 L121.5,281.2 L105.4,267.5 L89.2,253.4 L73.3,239.0 L58.1,224.2 L44.0,209.0 L31.3,193.4 L20.5,177.4 L11.7,161.1 L5.3,144.4 L1.3,127.6 L0.0,110.8 L1.3,94.3 L5.3,78.2 L11.7,62.8 L20.5,48.6 L31.3,35.6 L44.0,24.3 L58.1,15.0 L73.3,7.7 L89.2,2.8 L105.4,0.3 L121.5,0.1 L137.2,2.4 L152.1,6.8 L166.0,13.2 L178.5,21.2 L189.5,30.5 L199.0,40.6 L206.7,51.1 L212.8,61.4 L217.4,71.2 L220.6,79.8 L222.5,87.0 L223.6,92.4 L223.9,95.7 Z");
    offset-rotate: auto;
    animation: horizontal 10000ms infinite linear;
    animation-delay: calc(var(--i) * -300ms);
}

/* Animation */
@keyframes horizontal {
    from {
        offset-distance: 0%;
    }
    to {
        offset-distance: 100%;
    }
}
